* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    margin-top: 70px;
    padding: 0;
    font-family: Quicksand, sans-serif;
    overflow-x: hidden;
    background-color: rgb(235, 235, 235);
    color: white;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Links & Buttons */
a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

a:hover, button:hover {
    cursor: pointer;
    font-weight: 700;
}

/* ==================== HEADER ==================== */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background-color: #83000d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

#name, #qAndA {
    padding: 5%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#trackIt {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Search Input */
#channelInput {
    width: 400px;
    background-color: white;
    color: black;
    border: none;
    padding-left: 10px;
    border-radius: 7px;
    height: 25px;
}

#searchChannel {
    background-color: white;
    color: #000000;
    border: none;
    height: 25px;
    border-radius: 15px;
    margin-left: 10px;
}

#searchChannel:hover {
    background-color: #ffffffd7;
}

/* ==================== LITTLE DESC ==================== */
#littleDesc {
    width: 100%;
    height: 200px;
    background-color: #99000fee;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#topSectionLD {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    text-align: center;
}

#topSectionLD h1 {
    font-size: 28px;
    margin: 0;
}

#bottomSectionLD {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #83000d5d;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #83000d;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    padding: 2%;
}

#nameAndLogo {
    display: flex;
    align-items: center;
    font-size: 15px;
}

#logoId {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#contactSupport {
    color: white;
    background-color: #b20213;
    border: none;
    width: 50%;
    height: 20px;
    border-radius: 15px;
    transition: 0.2s linear;
}

#contactSupport:hover {
    transform: scale(1.2);
}

#secTitle {
    font-size: 15px;
}

.fa-brands {
    font-size: 20px;
    transition: 0.2s;
}

.fa-brands:hover {
    transform: scale(1.2);
}

#links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: auto;
}

#sec3 div {
    margin-top: 2.5%;
}


#QandA {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 90%;
    margin-left: 5%;
    min-height: 900px;
    background-color: #fffbfc;
    border-radius: 2.5%;
    color: black;
    padding: 25px;
}


@media screen and (max-width: 768px) {
    header, footer {
        font-size: 13px;
    }
    #channelInput {
        width: 200px;
        border-radius: 5px;
    }
    #topSectionLD h1 {
        font-size: 24px;
    }
}

@media screen and (min-width: 900px) {
    #littleDesc {
        height: 275px;
    }
    #topSectionLD {
        height: 200px;
    }
    #bottomSectionLD {
        height: 75px;
    }
    #channelInput {
        width: 500px;
    }
}

@media screen and (min-width: 1400px) {
    #littleDesc {
        height: 350px;
    }
    #topSectionLD {
        height: 260px;
    }
    #bottomSectionLD {
        height: 90px;
    }
    #channelInput {
        width: 600px;
        height: 35px;
    }
    #searchChannel {
        height: 35px;
        width: 35px;
    }
}